body, html {
    height: 100vh;
    margin: 0;
    font-family: 'Cabin';
    font-size: 16px;
    background-color: #E8DCCC;
}

.parent-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
}

.container-left { 
  grid-area: 1 / 1 / 2 / 2;
  /* border: 1px solid #000000;  */
  padding: 30px;
  height: 100%;
}

.container-right { 
  grid-area: 1 / 2 / 2 / 3;
  /* border: 1px solid #000000; */
  padding: 30px;
  height: 100%;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-left:auto;
  margin-right:auto;
  height: 100%;
}

h1, h2 {
  color: #0D547D;
  text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}

.h1-white {
  text-shadow: none;
  color: #ffffff;
  text-align: center;
}

.img-cartoon {
  width: 80%;
}

.instagram-block {
  width: 70%;
  background-color: #20a7c5;
  color:#ffffff;
  padding:25px;
}

a.instagram-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  font-family: 'Cabin';
  font-size: 20px;
  color: #ffffff;
  background: linear-gradient(#0D547D, #20a7c5);
  padding: 10px 20px 10px 10px;
  text-transform: uppercase;
  border: none;
  text-decoration: none;
  border-radius: 5px;
}

.img-instagram {
  width: 30px;
  height: auto;
  margin: 0 10px;
}

.instagram-text {
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #20a7c5;
  width:70%;
  padding:25px;

  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;

}

input {
  font-family: 'Cabin';
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
}

textarea {
  font-family: 'Cabin';
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
}

button {
  font-family: 'Cabin';
  font-size: 20px;
  color: #ffffff;
  background-color: #0D547D;
  padding: 10px;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.greeting {
  padding: 40px;
  background-color: #ffffff;
  opacity: .8;
  width: 25%;
}

