body, html {
    height: 100vh;
    margin: 0;
    font-family: 'Cabin';
    font-size: 16px;
    background-color: #E8DCCC;
}

.parent-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
}

.container-left { 
  grid-area: 1 / 1 / 2 / 2;
  border: 1px solid #000000; 
  padding: 30px;
  height: 100%;
}

.container-right { 
  grid-area: 1 / 2 / 2 / 3;
  border: 1px solid #000000;
  padding: 30px;
  height: 100%;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left:auto;
  margin-right:auto;
  height: 100%;
}

h1, h2 {
  color: #20a7c5;
}

.h1-white {
  color: #ffffff;
  text-align: center;
}

.img-cartoon {
  width: 80%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #20a7c5;
  width:70%;
  padding:25px;
}

input {
  font-family: 'Cabin';
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
}

textarea {
  font-family: 'Cabin';
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
}

button {
  font-family: 'Cabin';
  font-size: 20px;
  color: #ffffff;
  background-color: #0D547D;
  padding: 10px;
  text-transform: uppercase;
  border: none;
}
.test-insta {
  height: 200px;
  width: 300px;
  background-color: white;
}

.greeting {
  padding: 40px;
  background-color: #ffffff;
  opacity: .8;
  width: 25%;
}

